/* 頁面背景 */
body {
    background-color: #FFE4E1; /* 整體淡玫瑰色背景 */
    color: #333;              /* 深色字體，保持對比 */
}

/* Header 背景 */
header {
    background-color: #FFC0CB; /* 粉紅色背景 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

hr {
    border: 0;  /* 不顯示邊框 */
    height: 50px;  /* 設定高度，空白區域的高度 */
    background-color: transparent;  /* 背景透明，保持空白 */
    margin: 40px 0;  /* 設定上下的間隔 */
}